{% extends "base.html" %}

{% block title %}
  {% block head_title %}
  {% endblock head_title %}
{% endblock title %}
{% block content %}
  {% if not conversations %}
    <h3 class="text-center mt-5">
      You don't have any conversations, send a message to a <a href="{% url 'users:users_list' %}">user</a> to start chatting.
    </h3>
  {% else %}
    <div class="container-fluid p-0 w-100 m-0 p-0 full-width">
      <div class="card full-height">
        <div class="row g-0 full-height">
          <div class="col-4 col-lg-4 col-xl-2 border-end scrollable">
            <div id="chat-list" class="list-group">{% include "chat/chat_list.html" with conversations=conversations %}</div>
            <hr class="d-block d-lg-none mt-1 mb-0" />
          </div>
          <div class="col-8 col-lg-8 col-xl-10 d-flex align-items-center justify-content-center"
               id="messageArea">
            <div class="text-center">Select a chat to start messaging</div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
