{% extends "base.html" %}

{% block title %}
  {% block head_title %}
    Users
  {% endblock head_title %}
{% endblock title %}
{% block content %}
  <script type="module">
    import {
      minidenticonSvg
    } from 'https://cdn.jsdelivr.net/npm/minidenticons@4.2.0/minidenticons.min.js'
  </script>
  <div class="container">
    <div class="row row-cols-2">
      {% for user in users %}
        <div class="card-client">
          <div class="user-picture">
            <minidenticon-svg username="{{ user.username }}" saturation="60" lightness="50"></minidenticon-svg>
          </div>
          <p class="name-client">{{ user.username }}</p>
          <div class="links d-flex justify-content-center">
            <a href="#" data-username="{{ user.username }}" class="chat-button">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg height="24"
                       width="24"
                       viewBox="0 0 24 24"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor" />
                  </svg>
                </div>
              </div>
              <span>Chat</span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    window.onload = function() {
      const chatButtons = document.querySelectorAll('.chat-button');
      const currentUser = '{{ user.username }}';

      chatButtons.forEach(button => {
        const username = button.dataset.username;
        const conversationId = createConversationName(currentUser, username);
        button.href = `/chats/${conversationId}`;
      });
    }

    function createConversationName(username1, username2) {
      const namesAlph = [username1, username2].sort();
      return `${namesAlph[0]}__${namesAlph[1]}`;
    }
  </script>
{% endblock content %}
