{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        rapidchat
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="A real-time chat app with private and public rooms" />
    <meta name="author" content="David Puerta" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
      </script>
      <!-- jQuery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">rapidchat</a>
          <div class="collapse navbar-collapse justify-content-center"
               id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:users_list' %}">Users</a>
                </li>
                <li class="nav-item">
                  <a id="chat-navbar"
                     class="nav-link position-relative"
                     href="{% url 'chats:chats' %}">Chats</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                     href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div>
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
      {% if request.user.is_authenticated %}
        <script>
          // Correctly decide between ws:// and wss://
          var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
          var ws_path_not = ws_scheme + '://' + window.location.host + "/notifications/";
          var NotifSocket = new WebSocket(ws_path_not);

          NotifSocket.onopen = function(event) {
            //console.log("Connected");
          };

          NotifSocket.onclose = function(e) {
            //console.log("Disconnected");
          };

          NotifSocket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var aElement = document.getElementById('chat-navbar');
            switch (data.type) {
              case 'unread_count':
                var existsSpan = aElement.contains(document.getElementById('chat-notif-counter'));
                if (data.unread_count > 0) {
                  if (existsSpan) {
                    var notifSpan = document.getElementById('chat-notif-counter');
                    notifSpan.textContent = data.unread_count;
                  } else {
                    var spanElement = document.createElement('span');

                    spanElement.style.fontSize = "0.6rem";
                    spanElement.className = "position-absolute top-5 start-150 translate-middle badge rounded-pill bg-danger";
                    spanElement.textContent = data.unread_count;
                    spanElement.id = "chat-notif-counter";

                    aElement.appendChild(spanElement);
                  }
                } else {
                  if (existsSpan) {
                    var notifSpan = document.getElementById('chat-notif-counter');
                    aElement.removeChild(notifSpan);
                  }
                }
                if (window.location.href.indexOf('chats') > -1) {
                  convsNotif = data.conv_notifications.reverse();

                  // Get the parent element
                  var parentElement = document.getElementById('chat-list'); // replace 'parent-id' with the actual id of the parent element

                  // Loop through each notification
                  convsNotif.forEach(function(notification, index) {
                    // Find the corresponding a element or create a new one
                    aElement = document.createElement('a');
                    lastMessage = notification.last_message;
                    if (!lastMessage) {
                      lastMessage = ''
                    } else if (lastMessage.length > 15) {
                      lastMessage = lastMessage.slice(0, 15) + '...';
                    }

                    if (notification.unread_count) {
                      aElement.innerHTML = `
                      <div class="d-flex align-items-center">
                        <div class="user-picture-list">
                          <minidenticon-svg username="${notification.user}" saturation="60" lightness="50"></minidenticon-svg>
                        </div>
                        <div class="flex-grow-1 ms-4 d-flex flex-column align-items-start">
                          <h6>
                            <b>${notification.user}</b>
                          </h6>
                          <small class="text-muted text-break">${lastMessage}</small>
                        </div>
                        <span class="badge text-bg-secondary">${notification.unread_count}</span>
                      </div>
                    `
                    } else {
                      aElement.innerHTML = `
                      <div class="d-flex align-items-center">
                        <div class="user-picture-list">
                          <minidenticon-svg username="${notification.user}" saturation="60" lightness="50"></minidenticon-svg>
                        </div>
                        <div class="flex-grow-1 ms-4 d-flex flex-column align-items-start">
                          <h6>
                            <b>${notification.user}</b>
                          </h6>
                          <small class="text-muted text-break">${lastMessage}</small>
                        </div>
                      </div>
                    `
                    }
                    aElement.id = notification.name;
                    aElement.href = '/chats/' + notification.name;
                    aElement.classList.add('list-group-item', 'list-group-item-action', 'border-0');
                    if (index % 2 === 0) {
                      aElement.classList.add('bg-light');
                    }

                    // Remove the old a element
                    var oldElement = document.getElementById(notification.name);
                    if (oldElement) {
                      oldElement.remove();
                    }

                    // Insert the updated a element as the first child
                    parentElement.insertBefore(aElement, parentElement.firstChild);
                  });
                }
                break;
              case 'new_message_notification':
                var existsSpan = aElement.contains(document.getElementById('chat-notif-counter'));

                if (existsSpan) {
                  var notifSpan = document.getElementById('chat-notif-counter');
                  notifSpan.textContent = parseInt(notifSpan.textContent, 0) + 1
                } else {
                  var spanElement = document.createElement('span');

                  spanElement.style.fontSize = "0.6rem";
                  spanElement.className = "position-absolute top-5 start-150 translate-middle badge rounded-pill bg-danger";
                  spanElement.textContent = 1;
                  spanElement.id = "chat-notif-counter";

                  aElement.appendChild(spanElement);
                }

                if (window.location.href.indexOf('chats') > -1) {
                  convsNotif = data.conv_notifications.reverse();

                  // Get the parent element
                  var parentElement = document.getElementById('chat-list'); // replace 'parent-id' with the actual id of the parent element

                  // Loop through each notification
                  convsNotif.forEach(function(notification, index) {
                    // Find the corresponding a element or create a new one
                    aElement = document.createElement('a');
                    lastMessage = notification.last_message;
                    if (lastMessage.length > 15) {
                      lastMessage = lastMessage.slice(0, 15) + '...';
                    }

                    if (notification.unread_count) {
                      aElement.innerHTML = `
                      <div class="d-flex align-items-center">
                        <div class="user-picture-list">
                          <minidenticon-svg username="${notification.user}" saturation="60" lightness="50"></minidenticon-svg>
                        </div>
                        <div class="flex-grow-1 ms-4 d-flex flex-column align-items-start">
                          <h6>
                            <b>${notification.user}</b>
                          </h6>
                          <small class="text-muted text-break">${lastMessage}</small>
                        </div>
                        <span class="badge text-bg-secondary">${notification.unread_count}</span>
                      </div>
                    `
                    } else {
                      aElement.innerHTML = `
                      <div class="d-flex align-items-center">
                        <div class="user-picture-list">
                          <minidenticon-svg username="${notification.user}" saturation="60" lightness="50"></minidenticon-svg>
                        </div>
                        <div class="flex-grow-1 ms-4 d-flex flex-column align-items-start">
                          <h6>
                            <b>${notification.user}</b>
                          </h6>
                          <small class="text-muted text-break">${lastMessage}</small>
                        </div>
                      </div>
                    `
                    }
                    aElement.id = notification.name;
                    aElement.href = '/chats/' + notification.name;
                    aElement.classList.add('list-group-item', 'list-group-item-action', 'border-0');
                    if (index % 2 === 0) {
                      aElement.classList.add('bg-light');
                    }

                    // Remove the old a element
                    var oldElement = document.getElementById(notification.name);
                    if (oldElement) {
                      oldElement.remove();
                    }

                    // Insert the updated a element as the first child
                    parentElement.insertBefore(aElement, parentElement.firstChild);
                  });
                }

                break;
              default:
                break;
            }
          }
        </script>
      {% endif %}
    {% endblock inline_javascript %}
  </body>
</html>
